<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <a href={{ url_for('home') }}>Main Menu</a> <a href={{ url_for('web_search') }}>Web search page</a>
        {% block content %}

        {% endblock %}

        {% block movie_details %}

        {% endblock %}
    </body>
</html>